
h1{
    color: red;
    text-align: center;
    border-bottom: 2px solid #cccccc;
}

.features{
    width: 510px;
    margin: 0 auto 30px;
    padding: 0 20px;
}

.features p {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-position: center top;
    text-transform: uppercase;
    text-align: center;
}

.feature-detectives {
    padding-top: 400px;
    background-image: url(/img/imgOne.jpg);
    width: 10px;
    height: 20px;
}

.feature-novels {
    padding-top: 400px;
    background-image: url(/img/novels.jpg);
    width: 10px;
    height: 1px;
}

.feature-fantasy {
    padding-top: 400px;
    background-image: url(/img/cover.jpg);
    width: 10px;
    height: 20px;
}
.size{
    padding: 0;
    list-style: none;
}
.sizeTwo{
    margin-bottom: 15px;
}

.interesting{
    width: 510px;
    margin: 0 auto 40px;
    padding: 0 20px;
}